@using bookthedoctor.Models
@{
    ViewBag.Title = "AddDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="col-md-4 col-lg-offset-4">
            <h2 style="padding-top:34px;text-align:center;">ADD DOCTOR</h2>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-offset-4">
            <br>
            <br>
            <form>
                <div class="col-md-10" align="center">
                    <input type="text" name="firstname" placeholder="First Name" class="form-control" required>
                </div>
                <br><br>
                <div class="col-md-10" align="center">
                    <input type="text" name="lastname" placeholder="Last Name" class="form-control" required>
                </div> <br><br>
                <div class="col-md-10" align="center">
                    <input type="text" name="Specialization" placeholder="Specialization" class="form-control" required>
                </div> <br><br>
                <div class="col-md-10" align="center">
                    <input type="text" name="Clinic Name" placeholder="Clinic Name" class="form-control" required>
                </div> <br><br>
                <div class="col-md-10" align="center">
                    <input type="text" name="Hospital Name" placeholder="Hospital Name" class="form-control" required>
                </div> <br><br>
                <div class="col-md-6" align="center">
                    <select>
                        <option value="Gender">Choose Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <br><br>
                    <div class="col-md-9" align="center">
                        <button onclick="myFunction()" class="btn btn-default ">OK</button>

                        <p id="demo"></p>
                        <script>
                            function myFunction() {
                                var txt;
                                var r = confirm("Are you sure you want to add Doctor!");
                                if (r == true) {
                                    txt = "YES";
                                } else {
                                    txt = "Cancel";
                                }
                                //document.getElementById("demo").innerHTML = txt;
                                //document.getElementById("demo").innerHTML = txt;
                            }
                        </script>


                    </div>
            </form>
          </div>
            </div>
    </div>
</body>
</html>

