<!DOCTYPE html>
<html>
<body>
    <container>
        <h2 style="padding-top:34px;text-align:center;">
            CLINIC SHEDULE
        </h2>
        <pr>
            Clinic Name: Health is Wealth<br />
            Clinic Location: Block C , Model Town , Lahore
        </pr>
        <table style="width:100%">
            <tr>
                <th>DAY</th>
                <th>Time Slot</th>
                <th>Appoitment Status</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>12:00 pm - 3:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>12:00 pm - 3:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>12:00 pm - 3:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Friday</td>
                <td>12:00 pm - 2:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>12:00 pm - 4:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>

        </table>


        <h2 style="padding-top:34px;text-align:center;">
            HOSPITAL SHEDULE
        </h2>
        <pr>
            Hospital Name: Fatima Memorial Hospital<br />
            Hospital Location: Block A, Shadman Lahore
        </pr>
        <table style="width:100%">
            <tr>
                <th>DAY</th>
                <th>Time Slot</th>
                <th>Appoitment Status</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>6:00 pm - 10:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>4:00 pm - 9:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>5:00 pm - 8:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Friday</td>
                <td>5:00 pm - 10:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>7:00 pm - 11:00 pm</td>
                <td><button type="button" onclick="alert('Your request has been placed. Please wait for your response on your Email')">Take Appoitment</button>
            </tr>

        </table>
    </container>
</body>
</html>
