



    <!DOCTYPE html>
    <html>
    <body>
        <container>

            <h2 style="padding-top:34px;text-align:center;">Doctor Hospital Schedule
</h2>

<table style="width:100%">

    <tr>
        <th>Patientname</th>
        <th>Time Slot</th>
        <th>Date</th>
        <th>Day</th>
        <th>Hospital Name</th>
    </tr>
    <tr>
        <td>Maham Asif</td>
        <td>11:00 am</td>
        <td>12/13/2018</td>
        <td>Monday</td>
        <td>Sheik Zaid</td>
    </tr>
    <tr>
        <td>Nida Iqbal</td>
        <td>10:00 am </td>
        <td>12/13/2018</td>
        <td>Monday</td>
        <td>Sheik Zaid</td>
    </tr>
    <tr>
        <td>Hiba Azam</td>
        <td>10:00 am </td>
        <td>13/13/2018</td>
        <td>Tuesday</td>
        <td>Al Shafi</td>
    </tr>
    <tr>
        <td>Syeda Khadija</td>
        <td>10:00 am </td>
        <td>14/13/2018</td>
        <td>Wednesday</td>
        <td>National Hospital</td>
    </tr>
    <tr>
        <td>Ahmad</td>
        <td>4:00 pm </td>
        <td>13/13/2018</td>
        <td>Tuesday</td>
        <td>Ganga Raam</td>
    </tr>
    <tr>
        <td>Butt Sahab</td>
        <td>4:00 pm </td>
        <td>15/13/2018</td>
        <td>Thursday</td>
        <td>Doctor Hospital</td>
    </tr>
    <tr>
        <td>Rauf Khan Niazi</td>
        <td>4:00 pm </td>
        <td>16/13/2018</td>
        <td>Friday</td>
        <td>Hameed Latif</td>
    </tr>
</table>
    </container>
</body>
</html>

