




<!DOCTYPE html>
<html>
<body>
    <container>

        <h2 style="padding-top:34px;text-align:center;">
            Doctor Clinic Requests
        </h2>

        <table style="width:100%">

            <tr>
                <th>Patientname</th>
                <th>Time Slot</th>
                <th>Date</th>
                <th>Day</th>
                <th>Request Status</th>
            </tr>
            <tr>
                <td>Maham Asif</td>
                <td>11:00 am</td>
                <td>12/13/2018</td>
                <td>Monday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Nida Iqbal</td>
                <td>10:00 am </td>
                <td>12/13/2018</td>
                <td>Monday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Hiba Azam</td>
                <td>10:00 am </td>
                <td>13/13/2018</td>
                <td>Tuesday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Syeda Khadija</td>
                <td>10:00 am </td>
                <td>14/13/2018</td>
                <td>Wednesday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Ahmad</td>
                <td>4:00 pm </td>
                <td>13/13/2018</td>
                <td>Tuesday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Butt Sahab</td>
                <td>4:00 pm </td>
                <td>15/13/2018</td>
                <td>Thursday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
            <tr>
                <td>Rauf Khan Niazi</td>
                <td>4:00 pm </td>
                <td>16/13/2018</td>
                <td>Friday</td>
                <td><button type="button" onclick="alert('You have accepted the request!')">Accept</button><button type="button" onclick="alert('You have rejected the request')">Reject</button></td>
            </tr>
        </table>
    </container>
</body>
</html>


